.hero {
  width: 100%;
  min-height: 80vh;
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../../assets/iwood-R5v8Xtc0ecg-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border-radius: 20px;
}
.hero-text {
  text-align: center;
  margin: 0 auto;
  align-items: center;
}
.hero-text p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid var(--body-bg);
  border-radius: 30px;
  margin: 0 auto;
  padding: 6px 0px 4px 0px;
  width: 42%;
}
.hero-text h1 {
  font-size: 57px;
  line-height: 64px;
  margin: 25px auto;
  font-weight: 400;
  max-width: 500px;
}
.hero-btn {
  background: var(--body-bg);
  color: var(--main-color);
  font-weight: 400;
  border-radius: 30px;
}
.hero-btn i {
  background: var(--secondary-color);
  padding: 10px;
  border-radius: 50%;
}
#subtext {
  border: 0;
  text-transform: none;
  width: 100%;
  margin-bottom: 25px;
  font-weight: 400;
}
.section-one {
  width: 100%;
  margin: 60px auto;
}
.section-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.left {
  flex: 1;
}
.right {
  flex: 1;
}
.section-heading p {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid var(--main-color);
  border-radius: 30px;
  padding: 6px 0px 4px 0px;
  width: 23%;
  text-align: center;
}
.section-heading h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  max-width: 500px;
}
.section-gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.gallery-1 {
  flex: 1;
  background: url("../../assets/the-new-york-public-library-J_-XFRv3Dwg-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  padding: 30px;
}
.gallery-1 p {
  font-size: 14px;
  margin-bottom: 50px;
  max-width: 170px;
  line-height: 20px;
  font-weight: 400;
}
.gallery-1 h5 {
  color: var(--secondary-color);
  font-size: 46px;
  line-height: 52px;
  font-weight: 400;
  text-align: right;
  padding-top: 80px;
}
.gallery-2 {
  flex: 1;
}
.gallery-2 img {
  width: 100%;
  border-radius: 20px;
  height: 300px;
}
#right {
  text-align: right;
  max-width: 100%;
}
.gallery-3 {
  flex: 1;
  width: 100%;
}
.gallery-3 p {
  font-size: 14px;
  line-height: 20px;
}
.residence {
  display: flex;
  align-items: center;
  margin: 30px auto;
  gap: 35px;
}
.residence p {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}
.res-1 i {
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 22px;
}
.res-1 {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--secondary-color);
}
.res-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.res-3 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.res-4 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.res3-btn {
  background: var(--body-bg);
  color: var(--main-color);
  font-weight: 400;
  border-radius: 30px;
  border: 1.3px solid var(--main-color);
}
.res3-btn i {
  background: var(--secondary-color);
  padding: 10px;
  border-radius: 50%;
}
.section-two {
  width: 100%;
  background: #fff;
  height: 50%;
  border-radius: 20px;
  padding: 80px 64px;
}
.section-two-title p {
  font-size: 14px;
  line-height: 20px;
  color: var(--secondary-color);
  text-align: center;
  text-transform: uppercase;
  border: 1px solid var(--main-color);
  padding: 6px 0px 4px 0px;
  border-radius: 30px;
  width: 15%;
  margin: 0 auto;
}
.section-two-title h2 {
  text-align: center;
  padding: 30px 0;
  font-size: 30px;
  line-height: 38px;
  font-weight: 600;
}
.card-container {
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.card {
  width: 100%;
  flex: 1;
  background: var(--body-bg);
  border-radius: 20px;
  padding: 25px;
}
.card-item {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-bottom: 15px;
}
.card-item i {
  background: #fff;
  padding: 8px 12px;
  border-radius: 50%;
  font-size: 24px;
  line-height: 32px;
}
.card-item h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}
.card p {
  font-size: 14px;
  line-height: 20px;
  padding: 20px 0;
}
.red {
  background: var(--secondary-color);
}
.red h3 {
  color: #fff;
}
.red p {
  color: #fff;
}
.section-three {
  margin: 60px auto;
  width: 100%;
  min-height: 80vh;
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../../assets/naksha-banwao-3ddHcjHmiGw-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.free-estimate {
  padding-bottom: 50px;
}
.free-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.free-left {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 30px;
}
.free-left img {
  width: 70px;
}
.left-text {
  color: #fff;
}
.left-text p {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--secondary-color);
  border: 1px solid var(--body-bg);
  padding: 8px 5px 3px 25px;
  border-radius: 30px;
  width: 50%;
}
.left-text h3 {
  padding-top: 20px;
  text-transform: capitalize;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
}
.free-middle {
  height: 70px;
  border-left: 2px solid var(--body-bg);
}
.free-right {
  flex: 1;
}
.services-list {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}
.card1 {
  text-align: center;
  background: var(--body-bg);
  padding: 15px;
  border-radius: 15px;
}
.card1 i {
  font-size: 32px;
  line-height: 40px;
}
.card1 p {
  padding-top: 6px;
  font-size: 12px;
}
.card2 {
  text-align: center;
  background: var(--secondary-color);
  padding: 15px 22px;
  border-radius: 15px;
  color: #fff;
}
.card2 i {
  font-size: 32px;
  line-height: 40px;
}
.card2 p {
  padding-top: 6px;
  font-size: 12px;
}
.contact-form {
  padding-top: 50px;
}
.contact-form input {
  background: transparent;
  outline: none;
  border: 1px solid var(--body-bg);
  border-radius: 30px;
  width: 30%;
  padding: 15px 25px;
  margin-right: 30px;
  margin-bottom: 30px;
  color: #fff;
}
.form-btn {
  background: var(--secondary-color);
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  width: 30%;
  border-radius: 30px;
  font-weight: 500;
}
.contact-form ::placeholder {
  color: #fff;
  font-weight: 200;
}
.section-four {
  margin: 60px auto;
}
.section-title {
  text-align: center;
  margin: 0 auto;
}
.section-title p {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin: 0 auto;
  border: 1px solid var(--secondary-color);
  padding: 8px 5px 3px 5px;
  border-radius: 30px;
  width: 15%;
}
.section-title h2 {
  font-size: 30px;
  line-height: 38px;
  text-transform: capitalize;
  padding: 30px 0;
  font-weight: 500;
}
.progress-status {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  gap: 15px;
}
.progress {
  border: 1px solid var(--main-color);
  padding: 8px 20px 4px 20px;
  border-radius: 30px;
}
.progress1 {
  background: var(--secondary-color);
  padding: 8px 20px 4px 20px;
  border-radius: 30px;
  color: #fff;
}
.section4-gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
.designs {
  padding-bottom: 30px;
}
.designs p {
  font-weight: 700;
}
.designs img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.location {
  display: flex;
  align-items: center;
  gap: 5px;
}
.location i {
  color: var(--secondary-color);
}
.location p {
  padding: 15px 0;
  font-weight: 400;
}
.section-four button {
  display: block;
  margin: 10px auto;
}
.evaluation {
  margin: 80px auto;
}
.magic {
  width: 100%;
  height: 400px;
  background: #fff;
  border-radius: 20px;
}
.magic img {
  display: flex;
  width: 90%;
  height: 100%;
  border-radius: 20px;
  margin: auto;
}
.magic-text {
  padding-top: 80px;
  text-align: center;
}
.magic-text p {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin: 0 auto;
  border: 1px solid var(--main-color);
  padding: 8px 5px 3px 5px;
  border-radius: 30px;
  width: 23%;
}
.magic-text h2 {
  font-size: 30px;
  line-height: 38px;
  text-transform: capitalize;
  padding: 30px 0;
  font-weight: 500;
}
.section-five {
  width: 100%;
  margin: 280px 0 80px 0;
}
.team-text p {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--secondary-color);
  border: 1px solid var(--main-color);
  padding: 5px 10px 2px 30px;
  border-radius: 30px;
  width: 15%;
}
.team-text h2 {
  font-size: 30px;
  line-height: 38px;
  text-transform: capitalize;
  padding: 30px 0;
  font-weight: 500;
}
.team img {
  padding-bottom: 15px;
}
.team h2 {
  font-size: 18px;
  line-height: 26px;
}
.team p {
  padding: 3px 0;
}
.team img {
  width: 100%;
}
.team-gallery {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin: 80px auto;
}
.cta-btn {
  background: #fff;
  color: var(--main-color);
  font-weight: 400;
  border-radius: 30px;
}
.cta-btn i {
  background: var(--main-color);
  padding: 10px;
  border-radius: 50%;
  color: #fff;
}
.cta-left {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary-color);
  border-radius: 20px;
  padding: 47px;
}
.cta-left h2 {
  color: #fff;
  max-width: 300px;
  font-size: 30px;
  line-height: 38px;
  font-weight: 400;
}
.cta-right {
  flex: 1;
  background: var(--main-color);
  border-radius: 20px;
  padding: 25px;
}
.users img {
  width: 15%;
}
.cta-right p {
  color: #fff;
  padding: 20px 0;
  font-weight: 400;
  max-width: 250px;
  line-height: 23px;
}
.cta-right span {
  color: var(--secondary-color);
  text-decoration: underline;
}
.faq-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.faq-left {
  flex: 1;
}
.faq-left img {
  width: 100%;
  border-radius: 20px;
}
.faq-right {
  flex: 1.2;
  background: var(--main-color);
  border-radius: 20px;
  padding: 45px;
  color: #fff;
}
.faq-heading p {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--secondary-color);
  border: 1px solid var(--body-bg);
  padding: 8px 5px 3px 20px;
  border-radius: 30px;
  width: 30%;
}
.faq-heading h2 {
  font-size: 30px;
  line-height: 38px;
  text-transform: capitalize;
  padding: 30px 0;
  font-weight: 500;
}
.faqs i {
  margin-left: 250px;
}
.divider {
  width: 90%;
  height: 0.5px;
  background: var(--body-bg);
  margin: 15px 0;
}
#ans {
  font-weight: 200;
  padding: 10px 0;
  max-width: 500px;
  line-height: 24px;
}
.faq3 i {
  margin-left: 310px;
}
.faq4 i {
  margin-left: 240px;
}

@media (max-width: 390px) {
  .hero-text p {
    width: 60%;
  }
  .hero-text h1 {
    font-size: 46px;
    line-height: 52px;
    margin: 15px auto;
  }
  #subtext {
    width: 100%;
  }
  .section-heading p {
    padding: 10px 20px;
    width: 100%;
  }
  .section-heading h2 {
    font-size: 22px;
    line-height: 26px;
    max-width: 100%;
  }
}

@media (max-width: 430px) {
  .hero-text p {
    width: 80%;
    max-width: 80%;
  }
}

@media (max-width: 480px) {
  .hero-text p {
    width: 80%;
    max-width: 80%;
  }
}

@media (max-width: 576px) {
  .hero-text p {
    width: 60%;
    max-width: 60%;
  }
}

@media (max-width: 768px) {
  .section-heading {
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .section-heading p {
    width: 100%;
    max-width: 40%;
    margin: 15px auto;
    padding: 6px 0px 2px 0px;
  }
  .section-heading h2 {
    text-align: center;
    margin: 0 auto;
    max-width: 100%;
  }
  .section-gallery {
    flex-direction: column;
    gap: 30px;
  }
  .gallery-1 {
    width: 100%;
  }
  .gallery-1 p {
    max-width: 100%;
    text-align: center;
  }
  .gallery-1 h5 {
    text-align: right;
    padding-top: 80px;
  }
  .gallery-2 {
    width: 100%;
  }
  .gallery-2 img {
    width: 100%;
    height: 320px;
  }
  #right {
    text-align: right;
    max-width: 100%;
  }
  .gallery-3 {
    width: 100%;
    text-align: center;
  }
  .residence {
    justify-content: center;
    gap: 100px;
  }
  .section-two-title p {
    width: 40%;
    padding: 6px 0px 2px 0px;
  }
  .section-two {
    padding: 80px 24px;
  }
  .card-container {
    flex-direction: column;
  }
  .card {
    padding: 20px;
  }
  .card-item {
    padding-bottom: 20px;
  }
  .free-estimate {
    padding-bottom: 50px;
  }
  .free-container {
    flex-direction: column;
  }
  .free-left {
    gap: 20px;
    padding-bottom: 30px;
  }
  .free-left img {
    width: 50px;
  }
  .left-text h3 {
    font-size: 28px;
    line-height: 36px;
    padding-top: 5px;
  }
  .free-middle {
    display: none;
  }
  .free-right {
    flex: 1;
  }
  .left-text p {
    width: 60%;
  }
  .services-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card1 {
    text-align: center;
    background: var(--body-bg);
    padding: 15px;
    border-radius: 15px;
  }
  .card1 i {
    font-size: 32px;
    line-height: 40px;
  }
  .card1 p {
    padding-top: 6px;
    font-size: 12px;
  }
  .card2 {
    text-align: center;
    background: var(--secondary-color);
    padding: 15px 22px;
    border-radius: 15px;
    color: #fff;
  }
  .card2 i {
    font-size: 32px;
    line-height: 40px;
  }
  .card2 p {
    padding-top: 6px;
    font-size: 12px;
  }
  .contact-form input {
    width: 100%;
  }
  .form-btn {
    width: 100%;
  }
  .section-title p {
    padding: 8px 5px 2px 5px;
    width: 40%;
  }
  .section-title h2 {
    font-size: 30px;
    line-height: 38px;
    text-transform: capitalize;
    padding: 30px 0;
  }
  .progress-status {
    flex-direction: column;
  }
  .section4-gallery {
    flex-direction: column;
    gap: 10px;
  }
  .designs {
    padding-bottom: 30px;
  }
  .designs p {
    font-weight: 700;
  }
  .designs img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  .location {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .location i {
    color: var(--secondary-color);
  }
  .location p {
    padding: 15px 0;
    font-weight: 400;
  }
  .magic-text p {
    width: 65%;
  }
  .magic img {
    height: 60%;
  }
  .magic-text p {
    width: 60%;
  }
  .magic-text h2 {
    font-size: 30px;
    line-height: 38px;
    text-transform: capitalize;
    padding: 30px 0;
    font-weight: 500;
  }
  .section-five {
    margin: 130px 0 80px 0;
  }
  .team-text p {
    padding: 5px 10px 2px 22px;
    width: 40%;
  }
  .team img {
    width: 100%;
  }
  .team-gallery {
    flex-direction: column;
    gap: 30px;
  }

  .cta {
    flex-direction: column;
    gap: 40px;
  }
  .cta-left {
    flex-direction: column;
    gap: 30px;
    padding: 30px;
  }
  .faq-container {
    flex-direction: column;
  }
  .faq-heading p {
    width: 53%;
  }
  .faqs i {
    margin-left: 60px;
  }
  .divider {
    width: 100%;
  }
  .faq3 i {
    margin-left: 120px;
  }
  .faq4 i {
    margin-left: 50px;
  }
}
