.hero {
  width: 100%;
  min-height: 80vh;
  background:
    linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../../assets/iwood-R5v8Xtc0ecg-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border-radius: 20px;
}
.hero-text {
  text-align: center;
  margin: 0 auto;
  align-items: center;
}
.hero-text p {
  font-size: var(--subtitle-font);
  font-weight: 400;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid var(--body-bg);
  border-radius: 30px;
  margin: 0 auto;
  padding: 6px 0px 4px 0px;
  width: 42%;
}
.hero-text h1 {
  font-size: var(--h1-font);
  line-height: var(--title-lh);
  margin: 25px auto;
  font-weight: 400;
  max-width: 500px;
}
.hero-btn {
  background: var(--body-bg);
  color: var(--main-color);
  font-weight: 400;
  border-radius: 30px;
}
.hero-btn i {
  background: var(--secondary-color);
  padding: 10px;
  border-radius: 50%;
}
#subtext {
  border: 0;
  text-transform: none;
  width: 100%;
  margin-bottom: 25px;
  font-weight: 400;
}
