.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--main-color);
  color: #fff;
  border-radius: 15px;
  height: 70px;
}
.logo {
  width: 90px;
}
.navbar ul li {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 10px;
  font-weight: 400;
  font-size: 14px;
}
.btn-1 {
  background: transparent;
  color: #fff;
  font-weight: 400;
  margin-right: 15px;
}
.btn-1 i {
  color: var(--main-color);
  margin-right: 10px;
  background: var(--body-bg);
  padding: 10px;
  border-radius: 50%;
}
.btn-2 {
  background: var(--body-bg);
  color: var(--main-color);
  font-weight: 400;
  border-radius: 30px;
}
.btn-2 i {
  background: var(--secondary-color);
  padding: 10px;
  border-radius: 50%;
}
.mobile-btn {
  display: none;
}
.menu-icon {
  display: none;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  body {
    margin: 10px;
  }
  .container {
    padding: 0 32px;
  }
  .menu-icon {
    display: block;
    z-index: 1001;
  }
  .nav-links {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 100px;
    padding-left: 30px;
    gap: 20px;
    transition: 0.4s ease;
    z-index: 1000;
  }
  .navbar-btns {
    display: none;
  }
  .mobile-btn {
    display: block;
  }
  .btn-1 {
    margin-right: 0;
    margin-left: 0;
  }
  .nav-links.active {
    right: 0;
  }
}

@media (max-width: 834px) {
  body {
    margin: 10px;
  }
  .container {
    padding: 0 32px;
  }
  .menu-icon {
    display: block;
    z-index: 1001;
  }
  .nav-links {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 100px;
    padding-left: 30px;
    gap: 20px;
    transition: 0.4s ease;
    z-index: 1000;
  }
  .navbar-btns {
    display: none;
  }
  .mobile-btn {
    display: block;
  }
  .btn-1 {
    margin-right: 0;
    margin-left: 0;
  }
  .nav-links.active {
    right: 0;
  }
}

@media (width <= 998px) {
  body {
    margin: 10px;
  }
  .container {
    padding: 0 32px;
  }
  .menu-icon {
    display: block;
    z-index: 1001;
  }
  .nav-links {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 100px;
    padding-left: 30px;
    gap: 20px;
    transition: 0.4s ease;
    z-index: 1000;
  }
  .navbar-btns {
    display: none;
  }
  .mobile-btn {
    display: block;
  }
  .btn-1 {
    margin-right: 0;
    margin-left: 0;
  }
  .nav-links.active {
    right: 0;
  }
}

@media (max-width: 1200px) {
  body {
    margin: 10px;
  }
  .container {
    padding: 0 32px;
  }
}
