.footer {
  margin: 80px 0 auto;
  background: var(--main-color);
  width: 100%;
  min-height: 90vh;
  border-radius: 20px;
}
.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 80px 0 60px 0;
}
.footer-top h2 {
  font-size: 30px;
  line-height: 38px;
  font-weight: 400;
  max-width: 400px;
}
.footer-heading {
  flex: 1;
}
.footer-left {
  flex: 1;
}
.top-form input {
  background: transparent;
  outline: none;
  border: 1px solid var(--body-bg);
  border-radius: 30px;
  width: 70%;
  padding: 15px 25px;
  margin-right: 30px;
  margin-bottom: 30px;
  color: #fff;
}
.top-form ::placeholder {
  color: #fff;
  font-weight: 200;
}
.footer-btn {
  background: var(--secondary-color);
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  width: 30%;
  border-radius: 30px;
  font-weight: 500;
  margin-left: -60px;
}
.tcs {
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
.tcs p {
  font-weight: 300;
}
.tcs span {
  color: var(--secondary-color);
}
.footer-col {
  padding: 40px 0;
  color: #fff;
  font-weight: 300;
}
.footer-col img {
  width: 120px;
}
.footer-col p {
  padding: 20px 0;
  max-width: 300px;
  line-height: 20px;
}
.footer-col i {
  margin-right: 15px;
}
.footer-down {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.footer-col li {
  list-style: none;
  padding: 6px 0;
}
.footer-col h2 {
  padding-bottom: 15px;
}
