@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body {
  background: var(--body-bg);
  margin: 20px 40px;
}
:root {
  --body-bg: #eff3f6;
  --main-color: #101010;
  --secondary-color: #e53a1e;
  --h1-font: 57px;
  --title-font: 32px;
  --title-lh: 64px;
  --subtitle-font: 14px;
  --subtitle-lh: 24px;
}
a {
  text-decoration: none;
  color: inherit;
}
a:active {
  color: var(--secondary-color);
}
.btn {
  padding: 10px 4px 8px 15px;
  font-size: var(--subtitle-font);
  font-weight: 300;
  line-height: 20px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  outline: 0;
  transition: 0.3s ease;
}
.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 80px;
}

